.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 30px;
  font-weight: 400;
  width: 55px;
  height: 55px;
  margin: 8px;
  border-radius: 50%;
  background-color: rgb(29, 28, 28);
  outline: none;
  border: none;
}

.btnNum {
  color: white;
}

.btnOpr {
  color: rgb(1, 140, 255);
}
